<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controle de Plantões</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mynav" role="navigation" id='navbar'>
      <div class="container">
        {% if user.is_superuser %}
          <a class="navbar-brand bigbrand" href="{% url 'plantao:calendario' month=0 year=0 dia_selecionado=0 %}">Início</a>
        {% else %}
          <a class="navbar-brand bigbrand" href="{% url 'plantao:listar'%}">Início</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.first_name}} {{user.last_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'usuario:editar' pk=user.id %}">Meus dados</a>
                  <a class="dropdown-item" href="{% url 'usuario:logout' %}">Sair</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Plantões
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% if user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'plantao:criar_admin' %}">Novo</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'plantao:criar' %}">Novo</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'plantao:listar' list_all=0 %}">Plantões de {{user.first_name}}</a>
                  {% if user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'plantao:listar' list_all=1 %}">Ver todos</a>
                    <a class="dropdown-item" href="{% url 'plantao:calendario' month=0 year=0 dia_selecionado=0 %}">Calendário</a>
                    <a class="dropdown-item" href="{% url 'plantao:resumo' month=0 year=0 %}">Resumo do mês</a>
                  {% endif %}
                    <a class="dropdown-item" href="{% url 'plantao:meses_anteriores' %}">Meses anteriores</a>
                </div>
              </li>
              {% if user.is_superuser %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plantonistas
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="{% url 'usuario:cadastrar' %}">Cadastrar</a>
                    <a class="nav-link" href="{% url 'usuario:listar' %}">Listar</a>
                    <a class="nav-link" href="{% url 'usuario:status' %}">Mudar status</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Coordenação
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'plantao:criar_admin' %}">Adicionar plantão</a>
                    <a class="dropdown-item" href="{% url 'plantao:listar' list_all=1 %}">Ver plantões</a>
                    <a class="dropdown-item" href="{% url 'plantao:calendario' month=0 year=0 dia_selecionado=0 %}">Calendário</a>
                    <a class="dropdown-item" href="{% url 'plantao:resumo' month=0 year=0 %}">Resumo do mês</a>
                  </div>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
