{% extends "base.html" %}

{% block title %}
    Plantonistas
{% endblock %}

{% block content %}

    {% if user_list %}
        <table class="table">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Plantonista</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th></th>
          </thead>
          {% for usuario in user_list %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
            <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <a href="{% url 'usuario:editar' pk=usuario.pk %}" class="btn btn-warning-outline" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true" style="color:blue"></i>
                </a>
                <a href="{% url 'plantao:plantoes_usuario' pk=usuario.pk %}" class="btn btn-warning-outline" title="Ver plantões do mês">
                    <i class="fa fa-search" aria-hidden="true" style="color:green"></i>
                </a>
                <a href="{% url 'usuario:status' %}" class="btn btn-danger-outline" title="Remover">
                    <i class="fa fa-user-times" aria-hidden="true" style="color:red"></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Não há plantonistas cadastrados!</p>
      {% endif %}
{% endblock %}
