{% extends "base.html" %}

{% block content %}

    <h1>Plantonistas</h1>

    {% if user_list %}
        <table class="table">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Plantonista</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th></th>
          </thead>
          {% for usuario in user_list %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
            <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <a href="" class="btn btn-primary-outline"><i class="fa fa-search" aria-hidden="true" style="color:green"></i></a>
                <a href="" class="btn btn-warning-outline"><i class="fa fa-pencil" aria-hidden="true" style="color:blue"></i></a>
                <a href="" class="btn btn-danger-outline"><i class="fa fa-user-times" aria-hidden="true" style="color:red"></i></a>
            </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Não há plantonistas cadastrados!</p>
      {% endif %}
{% endblock %}
