{% extends "base.html" %}

{% block title %}
    Calendário de {{resumo.0.data|date:"F"}}
{% endblock %}

{% block right %}
    <a href="{% url 'plantao:criar_admin' %}" class="btn btn-primary-outline" title="Cadastrar plantão">
        <i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="color:green"></i>
    </a>
{% endblock %}

{% block content %}

    <!--<div class="container">
      <div class="row">
        <div class="col-6">
            <h2>Calendário de {{resumo.0.data|date:"F"}}</h2>
        </div>
        <div class="text-right col-2">
            <a href="{% url 'plantao:criar_admin' %}" class="btn btn-primary-outline" title="Cadastrar plantão">
                <i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="color:green"></i>
            </a>
        </div>
        <div class="text-right col-4">
            <form action="{% url 'plantao:trocar_horas_mes' %}" method="POST">
                {% csrf_token %}
                <h4>Total de horas diária</h4>
                <input type="number" id="horas" name="horas" min="1" value="{{horas_plantao_diario}}">
                <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
            </form>
        </div>
      </div>
    </div>-->

    <!--<div class="container">-->
      <!--<div class="row">-->
        <div>
            <form action="{% url 'plantao:trocar_horas_mes' %}" method="POST">
                {% csrf_token %}
                <label for="horas"><b>Total de horas por dia</b></label>
                <input type="number" id="horas" name="horas" min="1" value="{{horas_plantao_diario}}">
                <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
            </form>
            <br>
            <h6>Total de Horas: {{total_horas}} horas</h6>

            <table class="table">
              <thead>
                <th class="text-center" scope="col" colspan="7">Data</th>
                <th></th>
              </thead>
                <tr>
              {% for dia in resumo %}

                {% if forloop.counter|divisibleby:7 %}
                    <td class="text-center" style={{ dia.cor }}><b>
                        <a href="{% url 'plantao:calendario' dia=dia.data.day %}"
                           style={{ dia.cor }}>
                            {{ dia.data.day }}/{{ dia.data.month }}<br>{{ dia.data|date:"D" }}
                        </a></b><br>{{ dia.horas }}</td>
                    </tr><tr>
                {% else %}
                    <td class="text-center" style={{ dia.cor }}><b>
                        <a href="{% url 'plantao:calendario' dia=dia.data.day %}"
                            style={{ dia.cor }}>
                            {{ dia.data.day }}/{{ dia.data.month }}<br>{{ dia.data|date:"D" }}
                        </a></b><br>{{ dia.horas }}</td>
                {% endif %}

              {% endfor %}
            </table>
        </div>
          <div>
              {% if plantao_list %}
                <h5>Data: {{ plantao_list.0.data_plantao }} ({{ plantao_list.0.data_plantao|date:"l" }})</h5>
                <table class="table">
                  <thead>
                    <th scope="col">Turno</th>
                    <th scope="col">Horas</th>
                    <th scope="col">Plantonista</th>
                    <th></th>
                  </thead>
                  {% for plantao in plantao_list %}
                  <tr>
                    <td>{{ plantao.get_turno_display }}</td>
                    <td>{{ plantao.horas }}</td>
                    <td>{{ plantao.plantonista }}</td>
                    <td>
                        <a href="{% url 'plantao:editar_admin' pk=plantao.pk %}" class="btn btn-warning-outline">
                            <i class="fa fa-pencil bt1" aria-hidden="true" style="color:blue"></i>
                        </a>
                        <a href="{% url 'plantao:deletar' pk=plantao.pk %}" class="btn btn-danger-outline">
                            <i class="fa fa-trash" aria-hidden="true" style="color:red"></i>
                        </a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              {% endif %}
        </div>
      <!--</div>-->
    <!--</div>-->

{% endblock %}
