{% extends "base.html" %}

{% block title %}
    Plantões de {{mes|date:"F"}}
{% endblock %}

{% block right %}
    {% if admin %}
        <form action="{% url 'plantao:meses_anteriores_admin' %}" method="POST">
            {% csrf_token %}
            <input type="month" id="mes" name="mes" min="2020-01" value="{% now 'Y-m' %}">
            <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
        </form>
    {% else %}
        <form action="{% url 'plantao:meses_anteriores' %}" method="POST">
            {% csrf_token %}
            <input type="month" id="mes" name="mes" min="2020-01" value="{% now 'Y-m' %}">
            <button class="submit btn btn-success-outline"><i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green"></i></button>
        </form>
    {% endif %}
{% endblock %}

{% block content %}



        <!--<div class="container">
          <div class="row">
            <div class="col-8">
                <h2>Plantões de {{mes|date:"F"}}</h2>
            </div>
            <div class="text-right col-4">
                {% if admin %}
                    <form action="{% url 'plantao:meses_anteriores_admin' %}" method="POST">
                        {% csrf_token %}
                        <h4>Escolha um mês:</h4>
                        <input type="month" id="mes" name="mes" min="2020-01" value="{% now 'Y-m' %}">
                        <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
                    </form>
                {% else %}
                    <form action="{% url 'plantao:meses_anteriores' %}" method="POST">
                        {% csrf_token %}
                        <h4>Escolha um mês:</h4>
                        <input type="month" id="mes" name="mes" min="2020-01" value="{% now 'Y-m' %}">
                        <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
                    </form>
                {% endif %}
            </div>
          </div>
        </div>-->
        {% if plantao_list%}
            <h6>Total de Horas: {{total_horas}} horas</h6>
            <table class="table">
              <thead>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Turno</th>
                <th scope="col">Horas</th>
                {% if user.is_superuser %}
                    <th scope="col">Plantonista</th>
                {% endif %}
              </thead>
              {% for plantao in plantao_list %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                <td>{{ plantao.data_plantao.day }}/{{ plantao.data_plantao.month }}</td>
                <td>{{ plantao.get_turno_display }}</td>
                <td>{{ plantao.horas }}</td>
                {% if user.is_superuser %}
                    <th scope="col">{{ plantao.plantonista.first_name }} {{ plantao.plantonista.last_name }}</th>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
        {% else %}
            <p>Não há plantões cadastrados</p>
        {% endif %}
{% endblock %}
