{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
  <h1>Cadastre um plantão!</h1>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
  <form id="plantaoForm" action="{% url 'plantao:criar' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary btn-large" value="Cadastrar Plantão">
  </form>
{% endblock %}