{% extends "base.html" %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-8">
            {% if user.is_superuser %}
                <h1>Plantões de {{plantao_list.0.data_plantao|date:"F"}}</h1>
            {% else %}
                <h1>Meus plantões do mês</h1>
            {% endif %}

        </div>
        <div class="text-right col-4">
            {% if user.is_superuser %}
                <a href="{% url 'plantao:criar_admin' %}" class="btn btn-primary-outline">
                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="color:green"></i>
                </a>
              {% else %}
                <a href="{% url 'plantao:criar' %}" class="btn btn-primary-outline">
                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="color:green"></i>
                </a>
              {% endif %}
        </div>
      </div>
    </div>

    {% if plantao_list %}
        <h5>Total de Horas: {{total_horas}} horas</h5>
        <table class="table">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Turno</th>
            <th scope="col">Horas</th>
            {% if user.is_superuser %}
                <th scope="col">Plantonista</th>
            {% endif %}
            <th></th>
          </thead>
          {% for plantao in plantao_list %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
            <td>{{ plantao.data_plantao.day }}/{{ plantao.data_plantao.month }}</td>
            <td>{{ plantao.get_turno_display }}</td>
            <td>{{ plantao.horas }}</td>
            {% if user.is_superuser %}
                <th scope="col">{{ plantao.plantonista.first_name }} {{ plantao.plantonista.last_name }}</th>
            {% endif %}
            <td>
                <a href="{% url 'plantao:editar' pk=plantao.pk %}" class="btn btn-warning-outline">
                    <i class="fa fa-pencil" aria-hidden="true" style="color:blue"></i>
                </a>
                <a href="{% url 'plantao:deletar' pk=plantao.pk %}" class="btn btn-danger-outline">
                    <i class="fa fa-trash" aria-hidden="true" style="color:red"></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Não há plantões cadastrados!</p>
      {% endif %}
{% endblock %}
