{% extends "base.html" %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-8">
            <h2>Resumo de {{mes|date:"F"}}</h2>
        </div>
        <div class="text-right col-4">
            <form action="{% url 'plantao:resumo_mes' %}" method="POST">
                {% csrf_token %}
                <h4>Escolha um mês:</h4>
                <input type="month" id="mes" name="mes" min="2020-01" value="{% now 'Y-m' %}">
                <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
            </form>
        </div>
      </div>
    </div>

    <h5>Total de Horas: {{total_horas}} horas</h5>
    <table class="table">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Plantonista</th>
        <th scope="col">Horas</th>
      </thead>
      {% for plantonista in lista_final %}
      <tr>
          <th scope="row">{{ forloop.counter }}</th>
        <td>{{ plantonista.0 }}</td>
        <td>{{ plantonista.1 }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
