{% extends "base.html" %}

{% block title %}
    Resumo de {{mes|date:"F"}}
{% endblock %}

{% block right %}
    <form action="{% url 'plantao:resumo_mes' %}" method="POST">
        {% csrf_token %}
        <input type="month" id="mes" name="mes" min="2020-01" value="{% now 'Y-m' %}">
        <button class="submit btn btn-success-outline"><i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i></button>
    </form>
{% endblock %}

{% block content %}

    <h6>Total de Horas: {{total_horas}} horas</h6>
    <table class="table">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Plantonista</th>
        <th scope="col">Horas</th>
      </thead>
      {% for plantonista in lista_final %}
      <tr>
          <th scope="row">{{ forloop.counter }}</th>
        <td>{{ plantonista.0 }}</td>
        <td>{{ plantonista.1 }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
